#listUslug {
    border-radius: 16px;
    background-color: #242731;
    width: 70%;
    padding: 16px;
    margin-left: 25px;
}

#form {
    display: flex;
    background-color: #373C4A;
    border-radius: 16px;
    padding: 6px;
    margin-bottom: 10px;
}

#clearBtn {
    background-color: #DC3F3B;
    border-radius: 16px;
    width: 30px;
    color: white;
    height: 30px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}

#searchInput {
    margin-right: 7px;
    background-color: #373C4A;
    border: none;
    width: 100%;
    color: white;
    padding: 6px;
    font-size: 1.2rem;
}

#searchInput:focus {
    outline: none;

}

#searchIcon {
    color: white;
    font-size: 1.5rem;
    margin: 10px;
}

#selectTypeAuto {
    background-color: #373C4A;
    outline: none;
    border: none;
    border-radius: 16px;
    color: white;
    font-size: 1.2rem;
    margin-right: 10px;
}

#selectDiameter {
    background-color: #373C4A;
    outline: none;
    border: none;
    border-radius: 16px;
    color: white;
    font-size: 1.2rem;
    margin-right: 10px;
    

}